.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);  
  border: 3px solid #09f;
  border-radius: 15px;
  width: 20%;
}
.title{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 0.5em;
}

.tags{
  position: relative;
  top: -3em;
  display: flex;
  justify-content: space-evenly;
}

.image {
  border: 2px solid rgba(0, 153, 255, 0.5);
  border-radius: 15px;
  width: 95%;
}

.button {
  background: white;
  font-size: 1em;
  margin: 1em;
  padding: 4px 12px;
  border: 1px solid #09f;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.button:hover {
 background: rgba(255, 17, 0, 0.85);
}

.h2 {width: 80%;
  color: #09f;
}
.span{
  padding: 0.3em;
  background-color: white;
  border: 1px solid #09f;
  border-radius: 5px;
  color: #09f;
}